[submodule "week-7/mongoose-practice"]
	path = week-7/mongoose-practice
	url = https://github.com/shard520/mongoose-practice
[submodule "week-7/mongo-practice"]
	path = week-7/mongo-practice
	url = https://github.com/shard520/mongo-practice
[submodule "week-6/Cats4Lyf"]
	path = week-6/Cats4Lyf
	url = https://github.com/james-arn/Cats4Lyf
[submodule "week-8/sequelize"]
	path = week-8/sequelize
	url = https://github.com/shard520/sequelize-practice.git
[submodule "week-9/learning-REST"]
	path = week-9/learning-REST
	url = https://github.com/shard520/rest-api.git
[submodule "week-10/movies-api"]
	path = week-10/movies-api
	url = https://github.com/shard520/movies-react-app.git
