.app {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.input {
  display: flex;
  flex-wrap: wrap;
}

.input__item {
  flex-basis: 100%;
  width: 100%;
  margin: 0.5rem 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  margin: auto;
}

.gallery-entry {
  width: 30%;
  flex-basis: 30%;
}

.gallery-entry__heading {
  font-size: 1.5rem;
}

.gallery-entry__img {
  width: 100%;
}

.gallery-entry__camera {
  font-size: 0.8rem;
}
