:root {
  --white-colour: rgb(255, 255, 255);
  --light-grey-colour: rgb(240, 240, 240);
  --dark-blue-colour: rgb(27, 41, 56);
  --text-colour: rgb(20, 20, 20);
  --text-hover-colour: rgb(84, 84, 84);
  --grey-text-colour: rgb(69, 69, 69);
  --image-overlay-rgb: 27, 41, 56;
  --blue-img-overlay: rgba(80, 121, 165, 0.73);
  --main-accent-colour: rgb(44, 165, 141);
  --main-accent-colour-hover: rgb(33, 125, 107);
  --background-colour-alt: rgba(20, 20, 20, 0.05);
  --footer-separator-colour: rgb(10, 16, 22);
  --footer-hover-colour: rgb(214, 214, 214);
  --image-overlay-opacity: 0.15;
  --hover-overlay-opacity: 0.55;
  --font-decorative: "Roboto", sans-serif;
  --font-main: "Nunito Sans", sans-serif;
  --default-font-size: 1.9rem;
  --text-shadow: 0 0 4px rgb(0 0 0 / 40%);
  --page-width: 120rem;
  --big-space: 5.5rem;
  --widget-animation-timing: cubic-bezier(0.39, 0.575, 0.565, 1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: var(--font-main);
  color: var(--text-colour);
}

body {
  box-sizing: border-box;
  font-size: var(--default-font-size);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-decorative);
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.u-padding-top-2 {
  padding-top: 2rem !important;
}

.btn {
  font-family: var(--font-decorative);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  line-height: 2.25rem;
  background-color: var(--main-accent-colour);
  color: var(--light-grey-colour);
  cursor: pointer;
  padding: 1rem 1.8rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  transition: background-color 0.2s, color 0.2s;
}
.btn:hover {
  background-color: var(--main-accent-colour-hover);
  color: var(--white-colour);
}

.collections-preview {
  max-width: var(--page-width);
  margin: auto;
  padding: var(--big-space);
}
.collections-preview__heading {
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 400;
  margin-bottom: var(--big-space);
}
.collections-preview__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.collections-preview__item {
  position: relative;
  width: 100%;
  height: 100%;
  height: 25rem;
  width: 25rem;
}
.collections-preview__item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(var(--image-overlay-rgb), var(--image-overlay-opacity));
  transition: background-color 0.2s;
}
.collections-preview__item:hover.collections-preview__item::before {
  background-color: rgba(var(--image-overlay-rgb), var(--hover-overlay-opacity));
}
.collections-preview__item--hcnb {
  background-image: url("../img/collection-hard-cover.jpg");
  background-position: center;
  background-size: cover;
}
.collections-preview__item--scnb {
  background-image: url("../img/collection-soft-cover.jpg");
  background-position: center;
  background-size: cover;
}
.collections-preview__item--mugs {
  background-image: url("../img/collection-china-mug.jpeg");
  background-position: center;
  background-size: cover;
}
.collections-preview__item--prints {
  background-image: url("../img/collection-dig-print.jpeg");
  background-position: center;
  background-size: cover;
}
.collections-preview__link {
  font-family: var(--font-decorative);
  font-size: 3.4rem;
  line-height: 1.2;
  color: var(--white-colour);
  text-shadow: var(--text-shadow);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 1.5rem;
}

.feature {
  max-width: var(--page-width);
  margin: auto;
  padding: var(--big-space);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.feature__text {
  padding: 3.5rem;
  flex: 0 1 50%;
}
.feature__text--left {
  padding-left: 0;
}
.feature__text--right {
  padding-right: 0;
}
.feature__text--stretch {
  align-self: stretch;
}
.feature__text--stretch > .feature__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
}
.feature__heading {
  font-family: var(--font-decorative);
  font-size: 3.4rem;
  font-weight: 400;
  margin-bottom: 1.1rem;
}
.feature__paragraph {
  margin-bottom: 1.9rem;
}
.feature__img-container {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.feature__img {
  max-width: 40rem;
}

.footer {
  background-color: var(--dark-blue-colour);
  color: var(--light-grey-colour);
}
.footer__wrapper {
  max-width: var(--page-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 5.5rem;
}
.footer__top, .footer__bottom {
  flex-basis: 50%;
  display: flex;
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
}
.footer__item--left {
  padding-right: 1.5rem;
}
.footer__item--right {
  padding-left: 1.5rem;
}
.footer__item--align-start {
  align-items: flex-start;
}
.footer__item--align-end {
  align-items: flex-end;
}
.footer__item .newsletter-signup__heading {
  font-size: 2.3rem;
  text-align: left;
  letter-spacing: unset;
  margin-bottom: 2.5rem;
}
.footer__item .newsletter-signup__form {
  padding-bottom: 3rem;
}
.footer__item .newsletter-signup__input-group {
  margin-top: 0.5rem;
}
.footer__nav-header {
  font-family: var(--font-decorative);
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.footer__nav-item {
  margin: 0 3rem 0.5rem 0;
  font-size: 1.7rem;
  border-bottom: 1px solid transparent;
  transition: colour 0.2s ease, border-bottom 0.2s ease;
}
.footer__nav-item:hover {
  color: var(--footer-hover-colour);
  border-bottom: 1px solid var(--footer-hover-colour);
}
.footer__separator {
  border: 0;
  border-bottom: 1px solid var(--footer-separator-colour);
}
.footer__currency-selection {
  padding-top: 0.9rem;
  padding-left: 1.3rem;
  padding-bottom: 0.9rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 1.2rem;
  color: var(--grey-text-colour);
  background-color: var(--white-colour);
  border: 1px solid var(--dark-blue-colour);
  border-radius: 0.2rem;
}
.footer__currency-selection--large {
  padding: 0.5rem 2.8rem 0.5rem 0.8rem;
  margin-bottom: 0;
  font-size: 1.6rem;
}
.footer__payment-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: var(--big-space);
}
.footer__payment-icon {
  width: 3.8rem;
  height: 2.4rem;
}
.footer__socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
}
.footer__socials-icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
  transition: fill 0.2s ease;
}
.footer__socials-icon:hover {
  fill: var(--footer-hover-colour);
}
.footer__copyright-text {
  font-size: 1.4rem;
}

.hero {
  height: 44.444vw;
  max-height: 80vh;
  width: 100vw;
  aspect-ratio: 9/4;
  background-image: url("../img/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: var(--big-space);
}
.hero:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(var(--image-overlay-rgb), var(--image-overlay-opacity));
}
.hero__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
}
.hero__heading {
  font-size: 4.5rem;
  font-weight: 300;
  color: var(--white-colour);
  margin-bottom: 0.8rem;
  text-shadow: var(--text-shadow);
}
.hero__subtitle {
  font-family: var(--font-main);
  font-size: 2rem;
  color: var(--white-colour);
  text-shadow: var(--text-shadow);
}
.hero__cta-btn {
  margin-top: 2.75rem;
}

.instagram-widget {
  max-width: 120rem;
  margin: 0.9rem auto 5rem auto;
}
.instagram-widget__heading {
  text-align: center;
  font-size: 3.4rem;
  line-height: 1.2;
  font-weight: 400;
}
.instagram-widget__subtitle {
  text-align: center;
  font-size: 1.7rem;
  color: var(--grey-text-colour);
  margin-bottom: 3.2rem;
}
.instagram-widget__post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.instagram-widget__post {
  flex-basis: 25%;
  width: 25%;
  position: relative;
  margin: 0.4rem;
  transform: scale(1);
  transition: transform 0.35s var(--widget-animation-timing);
  will-change: transform;
}
.instagram-widget__post:hover {
  transform: scale(1.025);
}
.instagram-widget__post:hover .instagram-widget__img {
  transform: scale(1.1);
}
.instagram-widget__post:hover .instagram-widget__icon-overlay {
  opacity: 1;
}
.instagram-widget__img-wrapper {
  overflow: hidden;
}
.instagram-widget__img {
  max-width: 30rem;
  max-height: 30rem;
  height: 100%;
  width: 100%;
  display: block;
  will-change: transform;
  transition: transform 0.7s var(--widget-animation-timing);
  transform: scale(1);
}
.instagram-widget__icon-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-img-overlay);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.35s var(--widget-animation-timing);
}
.instagram-widget__post-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instagram-widget__info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  font-size: 1.7rem;
}
.instagram-widget__info-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white-colour);
  margin-right: 0.4rem;
}
.instagram-widget__info-count {
  color: var(--white-colour);
  line-height: 0;
}
.instagram-widget__logo-box {
  display: flex;
  margin-top: 0.7rem;
}
.instagram-widget__logo-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--white-colour);
}

.most-popular {
  max-width: var(--page-width);
  margin: auto;
  padding: var(--big-space);
}
.most-popular__heading {
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 400;
  margin-bottom: var(--big-space);
}
.most-popular__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}
.most-popular__item {
  width: 100%;
}
.most-popular__img {
  max-width: 25rem;
  max-height: 25rem;
  width: 100%;
  margin-bottom: 0.9rem;
  transition: opacity 0.2s;
}
.most-popular__item:hover > .most-popular__img {
  opacity: 0.8;
}
.most-popular__title {
  display: inline;
  font-size: 2.3rem;
  font-family: var(--font-decorative);
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.2s;
}
.most-popular__item:hover > .most-popular__title {
  border-bottom-color: var(--text-colour);
}
.most-popular__review-box {
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.3rem;
}
.most-popular__review-box > .review__star-box {
  margin-top: -0.3rem;
}
.most-popular__review-count {
  font-size: 1.7rem;
}
.most-popular__cost {
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--big-space);
  gap: 3rem;
}
.navbar__logo {
  max-width: 25rem;
  height: 100%;
  width: 100%;
}
.navbar__list {
  display: flex;
  gap: 2.5rem;
  margin: 2.5rem 0;
  margin-right: calc((100vw / 3) / 3);
}
.navbar__list-item {
  list-style: none;
  font-size: 1.7rem;
  padding: 0.3rem 0;
}
.navbar__dropdown-icon {
  width: 0.85rem;
  height: 0.85rem;
  fill: var(--text-colour);
  margin-left: 0.4rem;
}
.navbar__icon-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar__icon-list-item {
  display: flex;
  align-items: center;
}
.navbar__icons {
  width: 2rem;
  height: 2rem;
}

.newsletter-signup {
  margin-top: var(--big-space);
  background-color: var(--background-colour-alt);
}
.newsletter-signup__container {
  max-width: var(--page-width);
  margin: auto;
  padding-top: var(--big-space);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter-signup__heading {
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 400;
  margin-bottom: var(--big-space);
  margin-bottom: 1.75rem;
}
.newsletter-signup__text {
  font-size: 1.7rem;
  margin-bottom: var(--big-space);
}
.newsletter-signup__form {
  width: 100%;
  padding-bottom: var(--big-space);
  max-width: 56rem;
}
.newsletter-signup__input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.newsletter-signup__input {
  width: 100%;
  font-size: 1.7rem;
  font-family: var(--font-main);
  padding: 1rem 1.8rem;
  border-radius: 0.2rem 0 0 0.2rem;
  line-height: 1.2;
  border: 1px solid var(--dark-blue-colour);
}
.newsletter-signup__submit-btn {
  flex-grow: 0;
}

.review {
  width: 90%;
  margin: auto;
  max-width: 192rem;
  padding: 4.8rem 0;
}
.review__heading {
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 400;
  margin-bottom: var(--big-space);
  margin-bottom: 2.4rem;
}
.review__container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.review__chevron-box {
  align-self: center;
}
.review__chevron {
  width: 3.5rem;
  height: 3.5rem;
  fill: var(--text-colour);
}
.review__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33.3333%;
  font-size: 1.7rem;
  line-height: 1.4;
  padding: 0 2.4rem;
}
.review__star-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}
.review__star-icon {
  width: 1.7rem;
  height: 1.7rem;
}
.review__item .review__star-icon {
  width: 2rem;
  height: 2rem;
}
.review__title {
  font-weight: 700;
  margin: 0.6rem 0 0.2rem;
}
.review__text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  margin-bottom: 1rem;
}
.review__details {
  padding-bottom: 0.6rem;
}
.review__name {
  font-size: 90%;
  opacity: 0.6;
  line-height: 1;
  padding-bottom: 0.2rem;
}
.review__date {
  font-size: 75%;
  font-style: italic;
  opacity: 0.35;
  line-height: 1;
}
.review__product {
  font-size: 90%;
}
.review__product:hover {
  color: var(--text-hover-colour);
}

.shipping-banner {
  background-color: var(--dark-blue-colour);
  color: var(--white-colour);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem;
}/*# sourceMappingURL=main.css.map */