:root {
  --white-colour: rgb(255, 255, 255);
  --light-grey-colour: rgb(240, 240, 240);
  --dark-blue-colour: rgb(27, 41, 56);
  --text-colour: rgb(20, 20, 20);
  --image-overlay-rgb: 27, 41, 56;
  --image-overlay-opacity: 0.15;
  --main-accent-colour: rgb(44, 165, 141);
  --main-accent-colour-hover: rgb(33, 125, 107);
  --font-decorative: "Roboto", sans-serif;
  --font-main: "Nunito Sans", sans-serif;
  --default-font-size: 1.9rem;
  --text-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: var(--font-main);
  color: var(--text-colour);
}

body {
  box-sizing: border-box;
  font-size: var(--default-font-size);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-decorative);
}

.btn {
  font-family: var(--font-decorative);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  line-height: 2.25rem;
  background-color: var(--main-accent-colour);
  color: var(--light-grey-colour);
  cursor: pointer;
  padding: 1rem 1.8rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  transition: background-color 0.2s, color 0.2s;
}
.btn:hover {
  background-color: var(--main-accent-colour-hover);
  color: var(--white-colour);
}

.collections-feature {
  padding: 5.5rem;
  display: flex;
  align-items: center;
}
.collections-feature__text {
  padding: 3.5rem;
  padding-left: 0;
  flex: 0 1 50%;
}
.collections-feature__heading {
  font-family: var(--font-decorative);
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1.75rem;
}
.collections-feature__paragraph {
  margin-bottom: 1.9rem;
}
.collections-feature__img-container {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.collections-feature__img {
  max-width: 40rem;
}

.hero {
  height: 44.444vw;
  max-height: 80vh;
  aspect-ratio: 9/4;
  background-image: url("/img/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 5.5rem;
}
.hero:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(var(--image-overlay-rgb), var(--image-overlay-opacity));
}
.hero__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
}
.hero__heading {
  font-size: 4.5rem;
  font-weight: 300;
  color: var(--white-colour);
  margin-bottom: 0.8rem;
  text-shadow: var(--text-shadow);
}
.hero__subtitle {
  font-family: var(--font-main);
  font-size: 2rem;
  color: var(--white-colour);
  text-shadow: var(--text-shadow);
}
.hero__cta-btn {
  margin-top: 2.75rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5.5rem;
  gap: 3rem;
}
.navbar__logo {
  max-width: 25rem;
  height: 100%;
  width: 100%;
}
.navbar__list {
  display: flex;
  gap: 2rem;
  margin: 2.5rem 0;
}
.navbar__list-item {
  list-style: none;
  font-size: 1.7rem;
}
.navbar__dropdown-icon {
  width: 0.85rem;
  height: 0.85rem;
  fill: var(--text-colour);
}
.navbar__icon-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 2rem;
}
.navbar__icons {
  width: 2rem;
  height: 2rem;
}

.shipping-banner {
  background-color: var(--dark-blue-colour);
  color: var(--white-colour);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem;
}/*# sourceMappingURL=main.css.map */