@mixin img-overlay {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(
    var(--image-overlay-rgb),
    var(--image-overlay-opacity)
  );
}

@mixin section-heading {
  text-align: center;
  font-size: 2.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 400;
  margin-bottom: var(--big-space);
}
