.collections-feature {
  padding: 5.5rem;
  display: flex;
  align-items: center;

  &__text {
    padding: 3.5rem;
    padding-left: 0;
    flex: 0 1 50%;
  }

  &__heading {
    font-family: var(--font-decorative);
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1.75rem;
  }

  &__paragraph {
    margin-bottom: 1.9rem;
  }

  &__img-container {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__img {
    max-width: 40rem;
  }
}
