.feature {
  max-width: var(--page-width);
  margin: auto;
  padding: var(--big-space);
  display: flex;
  align-items: center;

  &__text {
    padding: 3.5rem;
    flex: 0 1 50%;

    &--left {
      padding-left: 0;
    }

    &--right {
      padding-right: 0;
    }

    &--stretch {
      align-self: stretch;
    }
  }

  // These styles only have an effect when the --stretch
  // modifier class is applied to the parent
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 100%;
  }

  &__heading {
    font-family: var(--font-decorative);
    font-size: 3.4rem;
    font-weight: 400;
    margin-bottom: 1.1rem;
  }

  &__paragraph {
    margin-bottom: 1.9rem;
  }

  &__img-container {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__img {
    max-width: 40rem;
  }
}
