.instagram-widget {
  max-width: 120rem;
  margin: 0.9rem auto 5rem auto;

  &__heading {
    text-align: center;
    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: 400;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.7rem;
    color: var(--grey-text-colour);
    margin-bottom: 3.2rem;
  }

  &__post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  &__post {
    flex-basis: 25%;
    width: 25%;
    position: relative;
    margin: 0.4rem;
    transform: scale(1);
    transition: transform 0.35s var(--widget-animation-timing);
    will-change: transform;

    &:hover {
      transform: scale(1.025);
    }

    &:hover .instagram-widget__img {
      transform: scale(1.1);
    }

    &:hover .instagram-widget__icon-overlay {
      opacity: 1;
    }
  }

  &__img-wrapper {
    overflow: hidden;
  }

  &__img {
    max-width: 30rem;
    max-height: 30rem;
    height: 100%;
    width: 100%;
    display: block;
    will-change: transform;
    transition: transform 0.7s var(--widget-animation-timing);
    transform: scale(1);
  }

  &__icon-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue-img-overlay);
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.35s var(--widget-animation-timing);
  }

  &__post-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    font-size: 1.7rem;
  }

  &__info-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--white-colour);
    margin-right: 0.4rem;
  }

  &__info-count {
    color: var(--white-colour);
    line-height: 0;
  }

  &__logo-box {
    display: flex;
    margin-top: 0.7rem;
  }

  &__logo-icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--white-colour);
  }
}
