.review {
  width: 90%;
  margin: auto;
  max-width: 192rem;
  padding: 4.8rem 0;

  &__heading {
    @include section-heading;
    margin-bottom: 2.4rem;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  &__chevron-box {
    align-self: center;
  }

  &__chevron {
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--text-colour);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.3333%;
    font-size: 1.7rem;
    line-height: 1.4;
    padding: 0 2.4rem;
  }

  &__star-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
  }

  &__star-icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  &__item &__star-icon {
    width: 2rem;
    height: 2rem;
  }

  &__title {
    font-weight: 700;
    margin: 0.6rem 0 0.2rem;
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    margin-bottom: 1rem;
  }

  &__details {
    padding-bottom: 0.6rem;
  }

  &__name {
    font-size: 90%;
    opacity: 0.6;
    line-height: 1;
    padding-bottom: 0.2rem;
  }

  &__date {
    font-size: 75%;
    font-style: italic;
    opacity: 0.35;
    line-height: 1;
  }

  &__product {
    font-size: 90%;

    &:hover {
      color: var(--text-hover-colour);
    }
  }
}
