:root {
  // COLOURS
  --white-colour: rgb(255, 255, 255);
  --light-grey-colour: rgb(240, 240, 240);
  --dark-blue-colour: rgb(27, 41, 56);
  --text-colour: rgb(20, 20, 20);
  --text-hover-colour: rgb(84, 84, 84);
  --image-overlay-rgb: 27, 41, 56;
  --main-accent-colour: rgb(44, 165, 141);
  --main-accent-colour-hover: rgb(33, 125, 107);
  --background-colour-alt: rgba(20, 20, 20, 0.05);

  // OPACITY
  --image-overlay-opacity: 0.15;
  --hover-overlay-opacity: 0.55;

  // FONTS
  --font-decorative: 'Roboto', sans-serif;
  --font-main: 'Nunito Sans', sans-serif;
  --default-font-size: 1.9rem;
  --text-shadow: 0 0 4px rgb(0 0 0 / 40%);

  // SIZES
  --page-width: 120rem;
  --big-space: 5.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  font-family: var(--font-main);
  color: var(--text-colour);
}

body {
  box-sizing: border-box;
  font-size: var(--default-font-size);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
